body {
    background-color: black;
    color: seashell;
    font-family: Helvetica;
    font-size: 22px;
    margin: 0;
    padding: 0;
    opacity: 0.9;
    text-align: center;
  }
  
  #header {
    background: black;
    border-bottom: 1px solid seashell;
    display: flex; /* L'élément conteneur "header" (mère) devient flexible et ses enfants #responsive */
    height: 69px;
    position: fixed; /* Fixe le header malgré le scroll de la page */
    top: 0;
    width: 100%; /* Le Header utilise 100% de la largeur de la page */
  }
  
  #logo {
    height: 50px;
    padding: 10px;
  }
  
  #navbar {
    text-align: right;
    width: 100%;
  }
  
  #navbar li {
    display: inline; /* Les éléments de la navbar (texte) sont arrangés en ligne */
    list-style: none;
    padding: 10px;
  }
  
  #navbar a {
    color: seashell;
  }
  
  #mission,
  #featured,
  #locations {
    scroll-margin-top: 69px; /* Permet de faire défiler la page avec une marge haute de 69px */
  }
  
  #mission {
    justify-content: center; /* Définit l'alignement des blocs sur l'axe principal (horizontal) */
    align-items: center; /* Définit l'alignement de la GRILLE sur l'axe secondaire (vertical) (UNE LIGNE) */
    background: url("../images/img-mission-background.webp") center; /* Astuce : utiliser background avec CSS plutôt qu'insérer une image avec HTML pour un site #responsive */
    display: flex; /* Nécessaire pour que les éléments "enfants" texte et image soient #responsive(s) */ 
    height: 700px;
    margin: 69px auto; /* Auto : permet de centrer l'élément par rapport à ses marges */
    max-width: 1200px; /* L'image est affiché au maximum à sa longueur max (pas de dédoublement possible avec agrandissement de la fenêtre */
  }
  
  #banner {
    background-color: black;
    width: 1200px;
  }
  
  #featured {
    margin: 69px auto;
    max-width: 1000px;
  }
  
  #tea-container {
    justify-content:space-around; /* space-around : Les éléments (ENTRE EUX) sont répartis équitablement à chaque extrémité, entre le bord du conteneur et le premier/dernier élément => permet de limiter les trous avec des lignes avec éléments impaires (space-between)  */
    align-content: center; /* Définit l'alignement des éléments (ENTRE EUX) sur l'axe secondaire (vertical) (PLUSIEURS LIGNE) */
    display: inline-flex; /* Le conteneur est flex ET en ligne (pas les items => sinon flex) */
    flex-wrap: wrap; /* Les élément flexibles PEUVENT apparaitre sur plusieurs lignes */
    max-width: 1000px;
  }
  
  .tea-img {
    height: 200px;
    width: 300px;
  }
  
  .tea-name {
    margin-top: 10px;
  }
  
  #locations {
    background: url("../images/img-locations-background.webp") center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    min-height: 500px;
  }
  
  #locations h2 {
    margin-bottom: 15px;
  }
  
  #location-container {
    align-content: center;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
  }
  
  .location-box {
    align-items: center;
    background-color: black;
    display: flex;
    flex-direction: column; /* Pour faire apparaitre les éléments de la liste en colonne (vs ligne)*/
    justify-content: space-around;
    margin: 15px 40px;
    width: 300px;
  }
  
  #footer {
    height: 200px;
  }
  
  #copyright {
    padding: 20px;
    text-align: left;
  }