 header h1 {
    font-family: helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url(../images/pattern.jpeg);
}

#brush{
    font-family: helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}

/* Style de Prix des paragraphes*/
.price {
    font-family: helvetica;
    font-weight: bold;
    color:blue
}

#frames {
    font-family: helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;
}

#paint {
    font-family: helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue;
}